body {
  background-color: #fff;
}
.row.row-striped:nth-child(even){
  background-color: #dcdcdc;
}

.text-bblue {
  color: #5e9bd9;
}
a.text-bblue2,
.text-bblue2 {
  color: #009BC9!important;
}

.bblue {
  background-color:#5e9bd9;
  color:#fff;
}

table.table-padded tbody tr td,
table.table-padded thead tr th {
  padding: 12px 38px 11px;
  font-size:18px;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #f2f2f2;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background:none;
}

.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
